.text-stroke {
	-webkit-text-stroke: 1.2px #FFFFFF;
	color: #0048FF ;
	letter-spacing: 1px;
	font-size: 35px;
	font-family: Arial Black, Gadget, sans-serif;
	font-weight: bold;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 80%;
	left: 70%;
	transform: translate(-50%, -50%);
	white-space: normal;
	text-align: center;
	line-height: 1.2;
}

.happy-customer{
  width: 100%;
  background: #F9FAFB;
  padding: 48px 0;
}
.title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 16px;
}
.feather-icon {
  stroke: none;
  fill: #4299E1; /* Ensures stars are filled with blue */
  width: 24px;
  height: 24px;
}
.rating{
  width: 280px;
  height: 320px;
  padding: 24px;
  text-align: center;
  border-radius: 3px;
  background: #FFFFFF;
  opacity: 0.3;
  transform: scale3d(0.8, 0.8, 1);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-in-out;

  &-user,
  &-rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-user{
    margin-bottom: 26px;

    &--avatar{
      width: 60px;
      border-radius: 50px;
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
    }

    &--name{
      font-size: 16px;
      color: #374151;
      font-weight: 600;
    }
    &--position{
      font-size: 12px;
      color: #4299E1;
    }
  }

  &-rate{

    .quate{
      width: 20px;
      margin-bottom: 12px;
    }

    .rating-message{
      width: 180px;
      font-size: 14px;
      color: #6B7280;
      margin-bottom: 12px;
    }
    .rating-star{
      display: flex;

    .feather-icon{
        stroke: none;
        fill: #4299E1;
      }
    }
  }
}

.rating-carousel{
  padding: 20px 0 25px ;

  .carousel-cell{
    width: 280px;
    margin-right: 16px;
  }
  .flickity-page-dots{
    bottom: -20px;
  }
  .carousel-cell.is-selected .rating {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    border-top: 2px solid #4299e1;
  }

}














@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat-Light.eot');
    src: url('../fonts/Akkurat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat-Light.woff2') format('woff2'), url('../fonts/Akkurat-Light.woff') format('woff'), url('../fonts/Akkurat-Light.ttf') format('truetype'), url('../fonts/Akkurat-Light.svg#Akkurat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat.eot');
    src: url('../fonts/Akkurat.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat.woff2') format('woff2'), url('../fonts/Akkurat.woff') format('woff'), url('../fonts/Akkurat.ttf') format('truetype'), url('../fonts/Akkurat.svg#Akkurat') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat-Bold.eot');
    src: url('../fonts/Akkurat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat-Bold.woff2') format('woff2'), url('../fonts/Akkurat-Bold.woff') format('woff'), url('../fonts/Akkurat-Bold.ttf') format('truetype'), url('../fonts/Akkurat-Bold.svg#Akkurat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Akkurat';
}

body {
    color: #000;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Akkurat';
}

p {
    text-align: justify;
}

a {
    color: #082a3e;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a:hover,
a:focus {
    text-decoration: none !important;
    color: #082a3e
}

.list {
    margin-bottom: 15px;
    padding: 0
}



.list li {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 5px;
    position: relative;
}

.list li:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    color: #082a3e;
    font-size: 15px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    left: -15px;
}

.inner-banner {
    background: url(images/services-banner.jpg);
    position: relative;
    height: 432px;
}

.h2 {
    color: #034ea2;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.py-5 {
    padding-top: 50px;
    padding-bottom: 50px
}

.mt-3 {
    margin-top: 30px !important
}

.serv-lnav h5,
.sol-lnav h5 {
    padding: 15px 8px;
    background: #034DA2;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0
}

.nav-list .fa {
    float: right;
    margin-top: 8px;
    margin-right: 10px
}

.nav-list {
    margin-bottom: 15px;
    padding: 0;
    background: #f3f3f3;
    padding: 8px
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a {
    color: #034DA2;
    font-weight: bold;
    text-transform: capitalize;
    display: block;
}

/*.nav-list{margin-bottom:15px; padding:0; background:#f3f3f3; padding:8px}
.nav-list li{list-style-type:none; margin-left:20px; margin-bottom:5px; position:relative;}
.nav-list li a{color:#034DA2; text-transform: capitalize; display:block;}
.nav-list li:before{
  content: "\f0da";
  font-family: 'FontAwesome';
  color: #034DA2;
  font-size: 15px;
  margin-right: 10px; display:inline-block; position:absolute; left:-15px;}*/

.sol-lnav .nav-list .dropdown-menu {
    position: relative !important;
    float: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    font-size: 16px
}

.sol-lnav .nav-list .dropdown-menu>li>a:focus,
.sol-lnav .nav-list .dropdown-menu>li>a:hover {
    background-color: transparent !important
}

.sol-lnav .nav-list .dropdown-menu>li>a {
    white-space: normal;
    padding: 0;
}

.sol-lnav .nav-list .open .dropdown-menu .open a {
    color: #FCB714
}

.sol-lnav .nav-list .open .dropdown-menu .open .dropdown-menu li a {
    color: #034DA2;
    font-weight: normal;
}

.sol-lnav .nav-list .open .dropdown-menu li {
    margin-left: 0;
}

.sol-lnav .nav-list .open .dropdown-menu li:before {
    display: none;
}

.sol-lnav .nav-list .open .dropdown-menu {
    margin: 8px 0 !important
}

.sol-lnav .nav-list .active a {
    background-color: transparent;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #FCB714;
}

.sol-lnav .nav-list .open .dropdown-menu>li {
    margin-left: 20px;
    margin-bottom: 5px;
    position: relative;
}

.sol-lnav .nav-list .open .dropdown-menu>li:after {
    position: absolute;
    left: -20px;
    top: 0;
    background: url(../images/drop.png);
    background-size: 100% 100%;
    height: 20px;
    width: 14px;
    content: ""
}

.sol-lnav .nav-list .open .dropdown-menu .open .dropdown-menu li {
    margin-left: 0
}

.sol-lnav .nav-list .open .dropdown-menu .open .dropdown-menu li:before,
.sol-lnav .nav-list .open .dropdown-menu .open .dropdown-menu li:after {
    display: none;
}

.nav-list>li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0
}

.nav-list>li:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.highlight a {
    color: #FCB714 !important
}

.mb-3 {
    margin-bottom: 30px
}

.yellow {
    color: #FCB714 !important
}

.grey_sec {
    background: #f2f2f2;
    padding: 10px 20px
}

.h3 {
    font-weight: 500;
    color: #034ea2;
    margin-top: 0;
    margin-bottom: 10px
}

.white_sec {
    padding: 15px 20px
}

.raed_more {
    font-size: 16px;
    margin-left: 5px;
    text-decoration: underline;
    color: #034ea2
}

#ContactForm label {
    color: #666
}

#ContactForm input,
#ContactForm select {
    height: 40px;
    padding: 3px 12px;
    font-size: 15px;
}

#ContactForm .text-success {
    text-align: center;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}

.scroll_to_top {
    position: fixed;
    right: 10px;
    bottom: 50px;
    display: inline-block;
    text-align: center;
    display: none;
    z-index: 999;
}

.scroll_to_top a {
    display: inline-block;
}

.scroll_to_top h6 {
    font-size: 16px;
    font-weight: bold;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
    box-shadow: 0px 1px 15px 0px rgb(155 160 163 / 29%);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

.main-menu {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    background-image: url("../images/wipro-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-menu>li>a {
    padding: 30px 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #0E55A4;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
}

.navbar-header {
    display: none;
}

nav.navbar ul li a {
    font-size: 20px;
    color: #0E55A4;
    font-weight: 500;
    text-transform: capitalize;
    padding: 11px 16px 11px 16px;
    border-radius: 10px;
    font-family: "Akkurat";
    text-decoration: none;
    position: relative;
    font-weight: 500;
}

.navbar ul li {
    position: relative;
}

.navbar ul li::before {
    background: #FEB814;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    margin: auto;
    content: '';
    opacity: 0;
}

.navbar ul li:hover a {
    color: #000;
}

.navbar ul li:hover::before {
    opacity: 1;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

.navbar ul {
    padding: 20px 0px;
    float: right;
}

nav.navbar ul li a img {
    padding-left: 7px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: #fdb913 !important;
}

.dropdown-content a {
    color: #fff !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block;
    font-size: 15px !important;
    border-bottom: 1px solid #fff;
    border-radius: 0 !important;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #034ea2;
    min-width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navbar ul li a:hover {
    color: #000;
}

.banner {
    position: relative;
    background-color: black;
    height: 481px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.banner-round {
    position: absolute;
    height: 330px;
    width: 330px;
    top: 18%;
    right: 15%;
}

.image_center {
    text-align: center;
    padding-bottom: 30px;
}

.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navigation-info {
    display: inline-block;
    float: right;
    z-index: 44;
    position: relative;
    padding: 36px 0px;
}

button.navbar-toggler {
    display: none;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.application-block {
    margin-top: 42px;
    background: #e1e1e1;
    padding-bottom: 70px;
    text-align: center;
}

.application-cont::before {
    content: "";
    position: absolute;
    height: 130px;
    border-right: 1px solid #cccccc;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.application-cont {
    text-align: center;
    position: relative;
}

.border-hide::before {
    display: none;
    content: inherit;
}

.application-cont {
    padding: 12px 20px;
    margin: 10px 0px;
}

.application-cont a span {
    background: #ffffff;
    border-radius: 50%;
    padding: 25px 10px 28px 10px;

    z-index: 2;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    -ms-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

.hover-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.application-cont:hover .hover-img {
    opacity: 1;
}

.application-cont a span::before {
    position: absolute;
    content: "";
    background: #d2d0d0;
    height: 80px;
    top: 0px;
    width: 80px;
    z-index: -1;
    left: -5px;
    text-align: center;
    right: 0;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
}

.application-cont:hover .feat-img {
    opacity: 0;
}

.application-cont:hover span {
    background: #0e3570;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.application-cont a h6 {
    color: #000000;
    font-size: 18px;
    padding-top: 18px;
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
}

.application-cont:hover h6 {
    color: #034da2;
}

.application-cont:hover p {
    color: #034da2;
}

.application-cont a p {
    color: #000000;
    font-size: 15px;
    padding-top: 4px;
    font-weight: normal;
}

.head-title h2 {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    color: #034ea2
}

.features-block a {
    color: #ffffff;
}

.features-block a:hover span {
    font-size: 20px;
}

.features-block a span {
    font-size: 20px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 40px;
    font-weight: bold;
}

.feat-black {
    position: absolute;
    display: block;
    text-decoration: none;
    color: #fff;
    top: 3px;
    left: 3px;
    right: 3px;
    text-align: center;
    padding: 0px 0px;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 45%) 100%);
    margin: 0px 15px;
    opacity: 1 !important;
    bottom: 3px;
}

.features {
    padding-bottom: 68px;
    background: #EBEBEB;
    position: relative;
}

.features-block {
    text-align: center;
}

.features-block a {
    background: #fff;
    padding: 3px 3px;
    display: block;
    -webkit-box-shadow: 2px 2px 6px -2px rgb(0 0 0 / 75%);
    -moz-box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 6px -2px rgb(0 0 0 / 75%);
}

.footer {
    background: #034da2;
    padding: 30px 0px;
    position: relative;
}

.font-cont h6 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Akkurat";
}

.uselink h6 {
    font-size: 22px;
    font-family: 'Akkurat';
    color: #fff;
    font-weight: bold;
}

.font-cont p {
    font-size: 14px;
    font-family: 'Akkurat';
    padding-right: 60px;
}

.uselink {
    display: inline-block;
}

.uselink ul li {
    list-style-type: none;
    margin-bottom: 3px
}

.uselink ul li a {
    color: #ffffff;
    font-weight: 400;
    font-family: 'AkkuratRegular', Arial, sans-serif;
    font-size: 16px;
}

.social-links ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 31px 0px 0px;
}

.social-links ul li a {
    color: #cdcbce;
    font-size: 19px;
}

.footer-logo {
    display: inline-block;
    float: right;
    padding-top: 30px;
}

section.foot-copyright {
    background: #044086;
    padding: 15px 0px;
}

.copyright-cont {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Akkurat';
    padding: 0px 0px 0px 0px;
}

.copyright-cont small {
    text-align: right;
    float: right;
    font-size: 15px;
    font-family: 'Akkurat';
}

li.bg-blue {
    background: #034da2 !important;
}

.question-ico {
    display: inline-block;
    float: right;
    text-align: right;
    position: relative;
    right: -42px;
}

.search-ico {
    display: inline-block;
    position: relative;
    left: -34px;
}

.search-ico a i {
    background: #0D4292;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}

.question-ico a i {
    background: #0D4292;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}

.question-ico input {
    display: inline-block;
}

.question-ico a {
    display: inline-block;
}

.search-cont {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 4px;
}

.social-links ul li a:hover {
    color: #ffffff;
}

.search-ico a i:hover {
    font-size: 24px;
}

.question-ico a i:hover {
    font-size: 24px;
}

.industry {
    padding: 0px 0px 75px 0px;
}

.industry-img {
    position: relative;
    text-align: center;
    top: 13px;
}

.industry-cont h3 {
    font-size: 29px;
    font-family: "Akkurat";
    font-weight: bold;
    color: #034da2;
    margin: 0;
    text-transform: capitalize;
}

.industry-menu ul li button {
    background: transparent;
    border: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    outline: none;
}

.industry-menu ul li {
    border-bottom: 1px solid #4f83bf;
    padding: 8px 0px 9px 0px;
    width: 85%;
    position: relative;
    margin: 0px 22px;
    list-style-type: none;
}

.industry-cont p {
    color: #6d6d6d;
    font-size: 17px;
    padding-top: 24px;
    line-height: 28px;
    padding-bottom: 22px;
    text-align: justify;
}

.industry-menu ul li:last-child {
    border-bottom: none;
}

.read-button {
    text-align: center;
}

.industry-img img {
    position: relative;
    z-index: 2;
}

.industry-block span::before {
    border: 3px solid #ebebeb;
    position: absolute;
    content: "";
    width: 700px;
    height: 436px;
    right: -50px;
    top: 58px;
    z-index: 0;
}

.industry-block img {
    z-index: 1;
    position: relative;
}

.industry-block ul li {
    display: block;
    position: relative;
    color: #ffffff;
    background: #ebebeb;
    height: 14px;
    width: 14px;
    top: 87px;
    right: -90px;
    margin-bottom: 23px;
}

.industry-block ul {
    position: absolute;
    right: 60px;
    top: 12px;
}

.industry-cont span::before {
    position: absolute;
    content: "";
    border: 1px solid #034da2;
    width: 98px;
    left: 0;
    top: 37px;
    margin: auto;
}

.industry-cont span {
    position: relative;
    padding-top: 25px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 117px;
    color: #1b4078;
    display: block;
}

.industry-block {
    position: absolute;
    display: none;
}

.tab-show {
    display: block;
}

.industry-menu ul li a {
    pointer-events: bounding-box;
    color: #e6e6e6;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

li.bg-blue {
    background: #034da2 !important;
}

.industry-menu ul li a span {
    position: relative;
}

.industry-menu ul li a span::before {
    border: 2px solid #034da2;
    content: "";
    width: 54px;
    position: absolute;
    bottom: -13px;
}

.industry-menu ul {
    padding: 10px 0px;
}

.industry-menu li.active a {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

.industry-menu li.active a:before {
    border: 2px solid #ffffff;
    content: "";
    width: 54px;
    position: absolute;
    bottom: -13px;
    animation: animate 5s linear infinite;
}

.industry-menu {
    background: #034da2;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.industry-block p {
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    bottom: -15px;
    background: rgb(0 0 0 / 60%);
    text-align: right;
    right: 0;
    margin-left: 153px;
    display: inline-block;
    padding: 20px 15px;
    z-index: 3;
}

.features-content {
    position: absolute;
    display: block;
    text-decoration: none;
    color: #fff;
    top: 3px;
    left: 3px;
    right: 3px;
    text-align: center;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px 15px;
    opacity: 0 !important;
    display: none;
    bottom: 3px;
}

.features-block img {
    height: 382px;
}

.features-block a:hover .features-content {
    opacity: 1 !important;
}

.features-block a:hover span {
    opacity: 1;
}

.features-block {
    text-align: center;
}

.features-content p {
    position: absolute;
    bottom: 15px;
}

.features-content h4 {
    font-size: 20px;
    bottom: 136px;
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
}

.copyright-cont ul {
    display: inline-block;
    float: right;
}

.copyright-cont span {
    color: #fff;
}

.copyright-cont ul li {
    display: inline-block;
}

.copyright-cont ul li a {
    color: #fff;
    font-size: 16px;
    padding: 12px 14px;
    font-weight: 500;
}

.social-links ul li a {
    padding: 0px 0px;
    font-size: 17px;
}

.social-links {
    padding: 4px 0px;
}

/*services*/

.second-title {
    color: #034ea2;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
}

.dark-para {
    font-weight: 600;
}

.third-title {
    color: #034ea2;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
}

.cont-img {
    text-align: center;
    padding: 20px 0px;
}

/*about us page*/

.about-banner {
    background: url("../images/about-banner.jpg");
    position: relative;
    height: 432px;
}

.about-advantages {
    background: url("../images/about-why-banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.banner-round.left-banner {
    position: absolute;
    height: 330px;
    width: 330px;
    top: 13%;
    left: 15%;
}

.banner-round.right-banner {
    position: absolute;
    height: 330px;
    width: 330px;
    top: 13%;
    right: 15%;
}

.banner-round.center-banner {
    position: absolute;
    height: 330px;
    width: 330px;
    left: 40%;
    top: 15%;
}

.about-details h2 {
    color: #034ea2;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Akkurat';
    margin-bottom: 25px;
}

.about-img {
    margin-top: 58px;
}

.about-details p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Akkurat';
    color: #000;
    margin-bottom: 25px;
}

.about-details h3 {
    font-size: 24px;
    color: #034ea2;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.img-cont p {
    text-align: justify;
}

.deatils-feat img {
    width: 24%;
}

.deatils-feat h5 {
    color: #034ea2;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.deatils-feat p {
    text-align: center;
}

.deatils-feat {
    text-align: center;
    background: rgba(242, 242, 242, 1);
    background: -moz-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(10%, rgba(242, 242, 242, 1)), color-stop(10%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=1);
    -webkit-box-shadow: 2px 2px 6px -2px rgb(0 0 0 / 75%);
    -moz-box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 6px -2px rgb(0 0 0 / 75%);
    padding: 20px 15px 10px 48px;
    margin: 40px 0px 40px 0px;
    min-height: 393px;
}

.deatils-feat:hover {
    background: linear-gradient(to right, rgba(242, 242, 242, 1) 30%, rgba(242, 242, 242, 1) 100%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
}

.deatils-feat h5 {
    padding: 10px 0px;
}

.about-advantages-cont h2 {
    color: #034ea2;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0px;
}

.about-advantages-cont {
    background: #ffffffc9;
    text-align: center;
    padding: 30px 0px;
    margin: 50px 0px;
}

.stats-cont li span {
    color: #000;
    display: block;
    font-size: 16px;
    width: 72%;
    margin: auto;
    font-weight: normal;
}

.net {
    margin-top: 23px;
}

.stats-cont li {
    display: inline-block;
    padding: 10px 9px;
    list-style-type: none;
}

.network-details .third-title {
    /* font-size: 23px; */
    margin-bottom: 14px;
}

.stats-cont li h5 {
    background: #034ea2;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    font-weight: 300;
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.features-cont ul li:hover img {
    -webkit-animation: rotation 2s infinite linear;
}

.stats-list {
    text-align: left;
    padding: 20px 20px 0px 65px;
}

.stats-list strong {
    color: #034ea2;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 11px;
    display: inline-block;
}

ul.stats-list li {
    margin-left: 50px;
    padding: 7px 10px 7px 15px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: 'AKKURAT';
}

.features-cont ul li span {
    background: #98DAF4;
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
}

.features-cont {
    text-align: center;
}

.features-cont ul li span img {
    width: 65%;
    margin: auto;
}

.features-cont ul li {
    display: inline-block;
    align-items: center;
    position: relative;
    padding: 0px 48px;
}

.features-cont ul li:nth-child(2n-1)::before {
    background: url(../images/features-smallstick.png);
    content: '';
    position: absolute;
    height: 94px;
    right: 0;
    left: 0;
    width: 12px;
    margin: auto;
    bottom: -93px;
}

.features-cont ul li:nth-child(2n)::before {
    background: url(../images/features-bigstick.png);
    content: '';
    position: absolute;
    height: 225px;
    right: 0;
    left: -20px;
    width: 17px;
    margin: auto;
    bottom: -172px;
    z-index: -1;
}

.features-cont ul li p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    text-align: right;
    left: -188px;
    width: 100%;
    right: 0;
}

.features-cont ul li:nth-child(2n-1) p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    text-align: right;
    left: -211px;
    width: 100%;
    right: 0;
    bottom: -115px;
}

.features-cont ul li:nth-child(2n) p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    text-align: right;
    left: -211px;
    width: 100%;
    right: 0;
    bottom: -195px;
}

section.about-features {
    padding: 50px 0px 250px 0px;
}

#ico-loading:hover {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/*end about us*/

/*leadership*/

.leader-img img {
    border-radius: 50%;
}

.leader-content h4 {
    color: #034da2;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2px;
}

.leader-content span {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
    display: inline-block;
}

.leader-content p {
    margin-bottom: 20px;
}

/*end leadership */

/*Network*/

.network-details h5 {
    color: #034da2;
    font-size: 24px;
    font-weight: 600;
}

.network-address span {
    font-weight: 600;
    color: #034da2;
}

.network-address p {
    margin-bottom: 0px !important;
    font-size: 18px;
}

.network-details p {
    margin-bottom: 20px;
}

.net-location {
    display: inline-block;
    padding: 0px 34px 0px 0px;
}

.net {
    display: inline-flex;
}

.network-cont {
    padding: 20px 0px 40px 0px;
}

.leader-ship-cont {
    padding: 20px 0px 40px 0px;
}

/*end network*/

.home-contact {
    right: 0;
    position: fixed;
    bottom: 150px;
    z-index: 999
}

.home-contact a:hover {
    padding-right: 34px;
}

.home-contact a {
    background: #034DA2;
    display: block;
    padding: 10px 16px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 2s;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

@media only screen and (max-width:2560px) {}

@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:1024px) {
    .nav-menu>li>a {
        padding: 30px 10px !important;
        font-size: 16px !important
    }
    .industry-block span:before {
        display: none;
    }
    .industry-block ul {
        display: none;
    }
    .features-cont ul li:before {
        display: none;
    }
    .features-cont ul li:nth-child(2n-1) p,
    .features-cont ul li:nth-child(2n) p {
        position: relative;
        text-align: center;
        left: 0;
        top: 0;
        right: 0
    }
    section.about-features {
        padding: 10px 0
    }
    .features-cont ul li {
        width: 50%;
        float: left;
        margin-bottom: 15px
    }
    .features-cont ul li:last-child {
        width: 100%;
    }
}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .header {
        padding: 5px 0
    }
    .navigation-portrait .nav-brand {
        margin-top: 0
    }
    .nav-menu>li>a {
        padding: 15px 10px !important;
    }
    .banner-round {
        right: 12%
    }
    .banner-round.center-banner {
        left: 30%
    }
    .industry-block {
        position: relative;
    }
    .industry-block ul li {
        display: none;
    }
    .industry-block span:before {
        display: none
    }
    .tab-content>.tab-pane {
        text-align: center;
    }
    .industry {
        padding: 0
    }
    .about-details h2 {
        font-size: 24px
    }
    .about-details h3 {
        font-size: 22px
    }
    .deatils-feat h5 {
        font-size: 20px
    }
    .about-advantages-cont h2 {
        font-size: 24px
    }
    .deatils-feat {
        padding-left: 70px
    }
    .h2 {
        font-size: 24px
    }
    .h3 {
        font-size: 22px
    }
    .industry-tabs .list {
        text-align: left;
    }
    .cus-list {
        margin-bottom: 0 !important
    }
    .cus-list li {
        list-style-type: none;
        margin-left: 0 !important;
        font-size: 15px !important
    }
    .tab-btn-group {
        width: 85% !important
    }
    .tab-btn-group .tab-btn span {
        font-size: 14px
    }
    .tab-btn-group .left {
        left: 10px !important;
        font-size: 20px !important;
        top: 15px !important;
    }
    .tab-btn-group .right {
        right: 10px !important;
        font-size: 20px !important;
        top: 15px !important
    }
    .contact-bg {
        padding: 20px !important
    }
}

@media only screen and (max-width:479px) {
    .banner-round {
        right: 20px
    }
    .banner-round.left-banner {
        left: 40px
    }
    .banner-round.right-banner {
        right: 40px
    }
    .application-cont:before {
        display: none;
    }
    .copyright-cont ul {
        float: left;
    }
    .img-cont p,
    .about-details p {
        text-align: left;
    }
    .stats-list {
        padding: 0 0 0 15px;
        margin-top: 20px
    }
    ul.stats-list li {
        margin-left: 25px
    }
    .stats-cont li {
        display: block;
    }
    .features-cont ul li {
        width: 100%
    }
    .net {
        display: block;
    }
    .industry-tabs .tab-content .tab-title {
        text-align: left;
    }
    .cus-list {
        margin-bottom: 0 !important
    }
    .cus-list li {
        list-style-type: none;
        margin-left: 0 !important;
        font-size: 15px !important
    }
    .banner-round.center-banner {
        left: 10%
    }
}

@media only screen and (max-width:375px) {
    .banner-round.left-banner {
        left: 20px
    }
    .banner-round.right-banner {
        right: 20px
    }
    .banner-round.center-banner {
        top: 15%;
        left: 5%
    }
}

@media only screen and (max-width:320px) {
    .banner-round {
        right: -5px
    }
    .banner-round.center-banner {
        height: 275px;
        width: 275px;
        left: 20px
    }
    .banner-round.left-banner {
        height: 275px;
        width: 275px;
        left: 20px
    }
    .banner-round.right-banner {
        height: 275px;
        width: 275px;
        right: 20px
    }
}

.mb-30 {
    margin-bottom: 30px;
}

.head-title-no-capitalize {
    color: #034ea2;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

.center-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.button-404 {
    background-color: #034da2;
    border: none;
    color: rgb(255, 255, 255);
    padding: 21px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 14px 2px;
    cursor: pointer;
    border-radius: 53px;
    font-size: 30px;
}
